@font-face {
    font-family: NeatlyPrinted;
    src: local("KG Neatly Printed");
    /*font-weight: normal;*/
  }
  
  html, body {
      background: #f2efea; /* For browsers that do not support gradients */
      height: 100%;
      font-family: 'NeatlyPrinted';
  }
  
  body {
    margin: 0;
    display: flex;
  
    /* This centers our sketch horizontally. */
    /*justify-content: center;*/
  
    /* This centers our sketch vertically. */
    /*align-items: center;*/
  }
  
  
  #playerForm{
      padding: 10px;
      margin: 10px 20px;
      position: absolute;
      top: 40;
      left: 10;
  
  }
      #plate{
          margin: 10px auto;
      }
  
  .box{
      padding: 0;
      display: block;
      margin: 0px;
  }
  
  button, input, select, textarea {
    font-family : inherit;
    font-size   : 100%;
  }
  .button, input[type=button] {
      background-color: #556e89; /* #dfe6ec */
      border: none;
      /*border: 1px solid #556e89;*/
      color: white;
      margin: 10px;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 4px;
  }
  
  /*input[type=button], input.upload{*/
  
  
  .fileUpload {
      position: relative;
      overflow: hidden;
      margin: 10px;
  }
  .fileUpload input.upload {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
  }